<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DefaultProduct" value="" />
		<add key="Simulation" value="false" />
		<add key="OKOrNGOrRandom" value="0" />
		<add key="SqlConnectStr" value="PORT = 5432; DATABASE = SqlSugar4xTest; HOST = localhost; PASSWORD = 123456; USER ID = postgres" />
		<!--大包装极性 True 左-->
		<add key="CellPolarity" value="true" />
		<!--蜘蛛手放件位置  True 左-->
		<add key="PutStation" value="true" />
		<!--堆叠第一块电芯正极朝向  True 右-->
		<add key="ModuelFistCell" value="true" />
		<!--蜘蛛手旋转方向  True 右-->
		<add key="RotationDir" value="true" />
	</appSettings>
</configuration>