<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="miCheckSfcStatusEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <miCheckSfcStatusEx.Properties.Settings>
            <setting name="miCheckSfcStatusEx_com_catlbattery_ndmes7_MiCheckSFCStatusExServiceService"
                serializeAs="String">
                <value>http://ndmes1p042.catlbattery.com:52200/atlmeswebservice/MiCheckSFCStatusExServiceService</value>
            </setting>
        </miCheckSfcStatusEx.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
