<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="miReleaseSfcByOrder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="miReleaseSfcWithActivity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <miReleaseSfcByOrder.Properties.Settings>
            <setting name="miReleaseSfcByOrder_miReleaseSfcWithActivityByShoporder_MiReleaseSfcWithActivityServiceService"
                serializeAs="String">
                <value>http://ndmes1p042.catlbattery.com:52200/atlmeswebservice/MiReleaseSfcWithActivityServiceService</value>
            </setting>
        </miReleaseSfcByOrder.Properties.Settings>
        <miReleaseSfcWithActivity.Properties.Settings>
            <setting name="miReleaseSfcWithActivity_MiReleaseSfcByOrder_MiReleaseSfcWithActivityServiceService" serializeAs="String">
                <value>http://ndmesbp231.catlbattery.com:50100/atlmeswebservice/MiReleaseSfcWithActivityServiceService</value>
            </setting>
        </miReleaseSfcWithActivity.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
