<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataCollectForResourceInspectTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataCollectForResourceInspectTask.Properties.Settings>
            <setting name="DataCollectForResourceInspectTask_DataCollectForResourceInspectTask_DataCollectForResourceInspectTaskServiceService"
                serializeAs="String">
                <value>http://ndmes1p041.catlbattery.com:52100/atlmeswebservice/DataCollectForResourceInspectTaskServiceService</value>
            </setting>
        </DataCollectForResourceInspectTask.Properties.Settings>
    </applicationSettings>
</configuration>