<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cellCustomDCCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <cellCustomDCCheck.Properties.Settings>
            <setting name="cellCustomDCCheck_cellCustomDCCheck_MiCustomDCForCellServiceService"
                serializeAs="String">
                <value>http://ndmes1p043.catlbattery.com:52300/atlmeswebservice/MiCustomDCForCellServiceService</value>
            </setting>
        </cellCustomDCCheck.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
