<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Environment" value="dev" />
		<!-- 权限时间S -->
		<add key="LoginTime" value="180" />
		<!-- 空循环模式 -->
		<add key="Simulation" value="true" />
		<add key="OKOrNGOrRandom" value="0" />
		<add key="SqlConnectStr" value="PORT = 5432; DATABASE = SJ3-PL09-PACK; HOST = localhost; PASSWORD = 123456; USER ID = postgres" />
		<!--允许输入登录-->
		<add key="LoginByCard" value="True" />
		<!--禁止手输入时间间隔-->
		<add key="CardTime" value="500" />	
		<!--工位名称-->
		<add key="StationName" value="下箱体上线" />
		<!-- 服务端地址：用于自动拧紧调用WebApi服务 -->
		<add key="ServerAddress" value="http://192.168.0.10:8128" />
		<!-- 获取参数上传代码：每个自动站独立配置 -->
		<add key="GetParametricValueUpMesCode" value="XXTTJKSSJ" />
		<add key="GetParametricValueName" value="涂胶开始时间" />
		<!-- 最大涂胶时间：每个自动站独立配置 -->
		<add key="GlueUseMaxTime" value="30" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.28.0" newVersion="8.0.28.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpSnmpLib" publicKeyToken="4c00852d3788e005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.5.7.0" newVersion="12.5.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>