<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="DefaultProduct" value="" />
		<add key="Simulation" value="false" />
		<add key="OKOrNGOrRandom" value="0" />
		<add key="SqlConnectStr" value="PORT = 5432; DATABASE = SqlSugar4xTest; HOST = localhost; PASSWORD = 123456; USER ID = postgres" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--允许输入登录-->
		<add key="LoginByCard" value="True" />
		<!--禁止手输入时间间隔-->
		<add key="CardTime" value="500" />
		<!--工位名称-->
		<add key="StationName" value="下箱体涂胶" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>